@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../Letur/icomoon/fonts/icomoon.eot?r707q9");
  src: url("../Letur/icomoon/fonts/icomoon.eot?r707q9#iefix") format("embedded-opentype"), url("../Letur/icomoon/fonts/icomoon.ttf?r707q9") format("truetype"), url("../Letur/icomoon/fonts/icomoon.woff?r707q9") format("woff"), url("../Letur/icomoon/fonts/icomoon.svg?r707q9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-behance:before {
  content: "\eaa8";
}

html,
body {
  background-color: black;
  margin: 0px;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 100vh;
  margin: 0;
}

.container > div {
  /* font-size: 2em; */
  height: 100%;
  width: 100%;
  /* margin-top: 10%; */
}

.header {
  visibility: hidden;
  display: none;
}

#logo {
  font-size: 6em;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  margin: auto;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 32px;
  line-height: 100px;
  text-align: center;
  color: BLACK;
  display: block;
}

.sidenav > a:hover {
  text-decoration: underline;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  /* height:100vh; */
  color: white;
}

.content p,
.content .image {
  margin: auto;
  font-size: 24px;
}

.content p {
  line-height: 1.5;
  padding-left: 2em;
  margin-left: 20px;
}

.content a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.image > img {
  max-width: 80%;
  max-height: auto;
  margin-left: 10%;
  border: 1px solid white;
}

.content-photo {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  row-gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
}

.content-photo img {
  border: 1px solid white;
  /* max-height: 90vh; */
  height: auto;
  width: 95%;
}

.content-photo > p {
  font-size: 5em;
  -ms-grid-column: 1;
  grid-column: 1;
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 3vh;
  text-align: center;
}

.content-photo .links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* padding: 10% 0; */
  height: 100vh;
}

.content-photo .links a {
  text-align: center;
  font-size: 10em;
  color: White;
  text-decoration: none;
}

.content-photo a:hover {
  text-decoration: underline;
}

#up {
  padding: 0;
}

.content-film {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  /* height:100vh; */
  color: white;
}

.content-film .item-film {
  margin: 5% auto;
  text-align: center;
  padding: 40px;
  border: 3px solid white;
  border-bottom: 2px solid white;
}

.content-film .item-film > h1 {
  font-weight: 400;
  font-size: 4em;
}

.content-film .item-film > h3 {
  font-size: 2em;
}

.content-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height:100vh; */
  background-color: black;
  color: white;
}

.content-contact p {
  margin: auto;
  font-size: 24px;
  line-height: 1.5;
  padding-left: 2em;
  margin-left: 20px;
}

.content-contact form {
  width: 50%;
  background-color: Black;
  margin: auto;
  font-size: 1.5em;
}

.content-contact input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 96%;
  padding: 0.5em;
  margin: 0.3em 0;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-bottom: 3px solid white;
}

.content-contact input[type="submit"] {
  display: block;
  padding: 0.5em;
  background-color: black;
  color: #fff;
  border: 1px solid;
  margin: 0.5em auto;
}

@media only screen and (max-width: 1600px) {
  .sidenav a {
    font-size: 24px;
    line-height: 80px;
  }
  .content p,
  img {
    line-height: 1;
    max-width: 80%;
    height: auto;
  }
  .content-photo p {
    letter-spacing: 2vh;
  }
  .content-photo .links a,
  .content-photo > p {
    font-size: 6em;
    letter-spacing: 0;
  }
  .item-film {
    padding: 10px;
    width: 90%;
  }
  .item-film > h1 {
    font-size: 3em;
  }
  .item-film > h3 {
    font-size: 1em;
  }
  .item-film iframe {
    width: 640px;
    height: 480px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    visibility: visible;
    background-color: #fff;
    /* position: relative; */
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .header li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: black;
  }
  .header li a:hover {
    background-color: #f4f4f4;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 3em;
    padding: 10px 20px;
    -webkit-text-emphasis: none;
            text-emphasis: none;
    text-decoration: none;
    color: black;
  }
  .header .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .header a {
    font-size: 1.5em;
  }
  .header .menuIcon {
    cursor: pointer;
    display: inline-block;
    margin-left: 80%;
    padding: 28px 20px;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .header .menuIcon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 18px;
  }
  .header .menuIcon .navicon:before,
  .header .menuIcon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header .menuIcon .navicon:before {
    top: 5px;
  }
  .header .menuIcon .navicon:after {
    top: -5px;
  }
  /* 3 */
  .header .menuButton {
    display: none;
  }
  .header .menuButton:checked ~ .menu {
    max-height: 60vh;
  }
  .header .menuButton:checked ~ .menuIcon .navicon {
    background: transparent;
  }
  .header .menuButton:checked ~ .menuIcon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .menuButton:checked ~ .menuIcon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .menuButton:checked ~ .menuIcon:not(.steps) .navicon::before,
  .header .menuButton:checked ~ .menuIcon:not(.steps) .navicon::before {
    top: 0;
  }
  .sidebar {
    display: none;
  }
  #logo {
    font-size: 3em;
  }
  .social-links {
    margin-top: 20px;
    position: relative;
  }
  .content {
    margin-top: 100px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content p {
    margin: auto;
    padding: 10px;
  }
  .content-photo {
    padding: 0;
    width: 100%;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-auto-flow: row;
    /* margin-top: 16%; */
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    justify-items: center;
  }
  .content-photo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center;
        align-items: center;
        flex-direction: column; */
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  .content-photo .links {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .content-photo .links a,
  .content-photo > p {
    font-size: 2em;
    letter-spacing: 0;
  }
  #up {
    font-size: 2em;
  }
  .content-film {
    margin-top: 100px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content-film .item-film {
    padding: 2px;
    width: 90%;
  }
  .content-film .item-film > h1 {
    font-size: 1.5em;
  }
  .content-film .item-film > h3 {
    font-size: 1em;
  }
  .content-contact {
    margin-top: 60px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content-contact p {
    margin: auto;
    padding: 10px;
  }
  .content-contact form {
    width: 80%;
    background-color: Black;
    font-size: 1.1em;
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .item-film iframe {
    width: 320px;
    height: 240px;
  }
}
/*# sourceMappingURL=styles.css.map */