@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../Letur/icomoon/fonts/icomoon.eot?r707q9");
  src: url("../Letur/icomoon/fonts/icomoon.eot?r707q9#iefix")
      format("embedded-opentype"),
    url("../Letur/icomoon/fonts/icomoon.ttf?r707q9") format("truetype"),
    url("../Letur/icomoon/fonts/icomoon.woff?r707q9") format("woff"),
    url("../Letur/icomoon/fonts/icomoon.svg?r707q9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-behance:before {
  content: "\eaa8";
}
html,
body {
  background-color: black;
  margin: 0px;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  height: 100vh;
  margin: 0;
  > div {
    /* font-size: 2em; */
    height: 100%;
    width: 100%;
    /* margin-top: 10%; */
  }
}
.header {
  visibility: hidden;
  display: none;
}
#logo {
  font-size: 6em;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;

  margin: auto;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
    color: BLACK;
    display: block;
  }
  > a:hover {
    text-decoration: underline;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height:100vh; */
  color: white;
  p,
  .image {
    margin: auto;
    font-size: 24px;
  }
  p {
    line-height: 1.5;
    padding-left: 2em;
    margin-left: 20px;
  }
  a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.image > img {
  max-width: 80%;
  max-height: auto;
  margin-left: 10%;
  border: 1px solid white;
}
// photography
.content-photo {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  row-gap: 20px;
  align-items: stretch;
  justify-items: center;
  img {
    border: 1px solid white;
    /* max-height: 90vh; */
    height: auto;
    width: 95%;
  }
  > p {
    font-size: 5em;
    grid-column: 1;
    color: white;
    grid-column: 1 / span 2;
    margin: 0 auto;
    padding: 0;
    letter-spacing: 3vh;
    text-align: center;
  }
  .links {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10% 0; */
    height: 100vh;
  }
  .links a {
    text-align: center;
    font-size: 10em;
    color: White;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
#up {
  padding: 0;
}
// film
.content-film {
  display: grid;
  grid-template-columns: 1fr;
  /* height:100vh; */
  color: white;
  .item-film {
    margin: 5% auto;
    text-align: center;
    padding: 40px;
    border: 3px solid white;
    border-bottom: 2px solid white;
    > h1 {
      font-weight: 400;
      font-size: 4em;
    }
    > h3 {
      font-size: 2em;
    }
  }
}
// contact
.content-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:100vh; */
  background-color: black;
  color: white;
  p {
    margin: auto;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 2em;
    margin-left: 20px;
  }
  form {
    width: 50%;
    background-color: Black;
    margin: auto;
    font-size: 1.5em;
  }
}

.content-contact input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 96%;
  padding: 0.5em;
  margin: 0.3em 0;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-bottom: 3px solid white;
}

.content-contact input[type="submit"] {
  display: block;
  padding: 0.5em;
  background-color: black;
  color: #fff;
  border: 1px solid;

  margin: 0.5em auto;
}
@media only screen and (max-width: 1600px) {
  .sidenav a {
    font-size: 24px;
    line-height: 80px;
  }
  .content p,
  img {
    line-height: 1;
    max-width: 80%;
    height: auto;
  }
  // photography
  .content-photo {
    p {
      letter-spacing: 2vh;
    }
    .links a,
    > p {
      font-size: 6em;
      letter-spacing: 0;
    }
  }
  // film
  .item-film {
    padding: 10px;
    width: 90%;
    > h1 {
      font-size: 3em;
    }
    > h3 {
      font-size: 1em;
    }
    iframe {
      width: 640px;
      height: 480px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header {
    display: flex;
    flex-direction: column;
    visibility: visible;
    background-color: #fff;

    /* position: relative; */
    position: fixed;
    width: 100%;
    z-index: 100;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #fff;
    }
    li a {
      display: block;
      text-align: center;
      padding: 20px 20px;
      border-right: 1px solid #f4f4f4;
      text-decoration: none;
      color: black;
    }
    li a:hover {
      background-color: #f4f4f4;
    }
    .logo {
      display: block;
      float: left;
      font-size: 3em;
      padding: 10px 20px;
      text-emphasis: none;
      text-decoration: none;
      color: black;
    }
    .menu {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    a {
      font-size: 1.5em;
    }
  }

  .header .menuIcon {
    cursor: pointer;
    display: inline-block;
    margin-left: 80%;
    padding: 28px 20px;
    position: absolute;
    user-select: none;
  }

  .header .menuIcon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 18px;
  }
  .header .menuIcon .navicon:before,
  .header .menuIcon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header .menuIcon .navicon:before {
    top: 5px;
  }
  .header .menuIcon .navicon:after {
    top: -5px;
  }
  /* 3 */
  .header .menuButton {
    display: none;
  }
  .header .menuButton:checked ~ .menu {
    max-height: 60vh;
  }
  .header .menuButton:checked ~ .menuIcon .navicon {
    background: transparent;
  }
  .header .menuButton:checked ~ .menuIcon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menuButton:checked ~ .menuIcon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menuButton:checked ~ .menuIcon:not(.steps) .navicon::before,
  .header .menuButton:checked ~ .menuIcon:not(.steps) .navicon::before {
    top: 0;
  }
  .sidebar {
    display: none;
  }
  #logo {
    font-size: 3em;
  }
  .social-links {
    margin-top: 20px;
    position: relative;
  }

  .content {
    margin-top: 100px;
    grid-template-columns: 1fr;
    p {
      margin: auto;
      padding: 10px;
    }
  }
  // photography
  .content-photo {
    padding: 0;
    width: 100%;
    grid-column: 1;
    grid-auto-flow: row;
    /* margin-top: 16%; */
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
    justify-items: center;
    img {
      display: flex;
      /* justify-content: center;
        align-items: center;
        flex-direction: column; */
      grid-column: 1;
      width: 100%;
      height: auto;
      margin-left: 10px;
    }
    .links {
      grid-column: 1;
    }
    .links a,
    > p {
      font-size: 2em;
      letter-spacing: 0;
    }
  }
  #up {
    font-size: 2em;
  }
  // film
  .content-film {
    margin-top: 100px;
    grid-template-columns: 1fr;
    .item-film {
      padding: 2px;
      width: 90%;
      > h1 {
        font-size: 1.5em;
      }
      > h3 {
        font-size: 1em;
      }
    }
  }
  // contact
  .content-contact {
    margin-top: 60px;
    grid-template-columns: 1fr;
    p {
      margin: auto;
      padding: 10px;
    }
    form {
      width: 80%;
      background-color: Black;
      // margin: auto;
      font-size: 1.1em;
      margin: 0;
    }
  }
}
@media only screen and (max-width: 700px) {
  .item-film iframe {
    width: 320px;
    height: 240px;
  }
}
